/* A debug class, used to separate components graphically during development */
.debug {
    border-style:solid;
    width: auto;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.searchResults {
  display: inline-block;
  text-align: center;
  padding: 50px;
  width: 100px;
  vertical-align: text-top;
}
.details {
  padding: 20px;
  width: 100%;
}
.detailsprice {
  vertical-align: bottom;
  padding: 50px;
  display: inline-block;
}
.search{}
.sidebar{
  display: inline-block;
  flex: 0.4;
  width: 400px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.mainContent{
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top:0px;
  left:400px;
  width:100%
  flex: 0.6;
}
.hidden{
  display: none;
}
@media (min-width: 400px){
      .flexParent{
        display:flex;
        flex-direction: row;
        width: 100%;
        padding: 20px;}
}
